{% extends "base.html" %}

{% block content %}
<h1>Люди</h1>

<table>
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ person.surname }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.patronymic }}</td>
            <td>
                <a href="{% url 'persons:edit' person.pk %}">Редактировать</a>
                <a href="{% url 'persons:delete' person.pk %}" onclick="return confirm('Удалить {{ person }}?')">Удалить</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Нет людей</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'persons:create' %}">Добавить человека</a>
{% endblock %}